<dialog id="noBluetoothModal" x-bind:open="!navigator.bluetooth">
  <article>
    <header>
      <button
        aria-label="Close"
        rel="prev"
        onclick="noBluetoothModal.close()"
      ></button>
      <p><strong>Bluetooth not supported</strong></p>
    </header>
    <p>
      Your browser does not support Bluetooth connections. You can try
      with
      <a href="https://caniuse.com/?search=bluetooth"> another browser</a>.
    </p>
  </article>
</dialog>
