<div x-show="showWorkout">
  <hgroup>
    <h2>
      <span x-text="workoutMeta?.name"></span> •
      <span x-text="workoutMeta?.totalDuration"></span> minutes
    </h2>
    <p
      x-data="{clamp: 3}"
      class="workout-description"
      @click="clamp = clamp === 3 ? 100 : 3"
      x-bind:style="`-webkit-line-clamp: ${clamp}`"
    >
      <span x-text="workoutMeta?.description"></span>
      <cite
        x-show="workoutMeta?.author"
        x-text="` — ${workoutMeta?.author}`"
      ></cite>
    </p>
  </hgroup>

  <article x-show="isPaused" class="grid">
    <div>
      <h4>Workout Paused</h4>
      <p>
        You have paused the workout. You can resume it by pedaling
        or stop it.
      </p>
    </div>
    <button class="outline" @click="stopWorkout">Stop</button>
  </article>

  <article x-show="workoutFinished" class="grid">
    <div>
      <h4>Workout Completed</h4>
      <p>
        You have completed the workout! You can now export your
        data and
        <a href="https://www.strava.com/upload/select" target="_blank"
          >share it on Strava</a
        >.
      </p>
    </div>
    <button @click="exportActivity">Export activity</button>
  </article>

  <table class="workout-data">
    <thead>
      <tr>
        <th>Time</th>
        <th>Power</th>
        <th>Cadence</th>
        <th>Heart Rate</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td x-text="timer">0:00</td>
        <td><span x-text="power">-</span> W</td>
        <td>
          <span x-text="cadence + '  rpm'" x-bind:class="getCadenceStatus()">-</span>
          <small 
            class="cadence-target"
            x-show="cadenceTarget?.type === 'fixed'" 
            x-text="' - Target: ' + cadenceTarget?.target">
          </small>
          <small 
            class="cadence-target"
            x-show="cadenceTarget?.type === 'range'" 
            x-text="' - Target: ' + cadenceTarget?.min + '-' + cadenceTarget?.max">
          </small>
        </td>
        <td><span x-text="heartRate">-</span> bpm</td>
      </tr>
    </tbody>
  </table>
  <div class="phase-progress-container">
    <span x-text="phaseTimeRemaining">0:00</span>
    <progress x-bind:value="phaseProgress" max="100"></progress>
  </div>

  <div x-ref="workoutSvg" class="workout-svg-container"></div>
</div>