<form @submit.prevent="startWorkout" x-data x-show="showForm">
  <fieldset>
    <label>Bike
      <input
        type="button"
        @click="connectErgo"
        :disabled="ergometerName"
        x-bind:value="ergometerButtonLabel"
      />
    </label>
    <label>Heart Rate Monitor
      <input
        type="button"
        @click="connectHeartRateMonitor"
        :disabled="heartRateMonitorName"
        x-bind:value="heartRateMonitorButtonLabel"
      />
    </label>
    <label>FTP (watts)
      <input
        type="number"
        min="50"
        max="500"
        step="5"
        x-model="ftp"
        placeholder="150"
      />
      <small>
        Functional Threshold Power - used to calculate workout intensities
      </small>
    </label>
    <label>Weight (kg)
      <input
        type="number"
        min="40"
        max="150"
        step="1"
        x-model="weight"
        placeholder="70"
      />
      <small>
        Cyclist weight - used to calculate virtual speed
      </small>
    </label>
    <label> Workout</label>
    <div class="grid">
      <button
        type="button"
        class="outline"
        onclick="libraryModal.showModal()"
      >
        Choose from Library
      </button>
      <input
        type="file"
        accept=".zwo,.xml"
        @change="onZwoFileChange"
        x-ref="fileInput"
        style="display: none"
        name="workoutFile"
      />
      <button
        type="button"
        class="outline"
        @click="$refs.fileInput.click()"
      >
        Load a File
      </button>
    </div>
    <small>
      <span x-show="!selectedWorkout">
        Workout file in ZWO format
        <a class="secondary" href="#" onclick="zwoModal.showModal()">
          ⓘ Learn more
        </a>
      </span>
      <span x-show="selectedWorkout">
        Selected: <strong x-text="selectedWorkout?.name"></strong>
        <span x-show="selectedWorkout?.duration">
          (<span x-text="selectedWorkout?.duration"></span> min)
        </span>
      </span>
    </small>
    <button type="submit">Start</button>
  </fieldset>
</form>